@charset "UTF-8";
/* CSS Document */

body{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
background-color: #FBFAF7;
background: url('http://andyandywells.com/img/bg.png') 0 0 repeat;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}

.myform{
margin:0 auto;
width:400px;
padding:14px;
}


#container{

position: relative;
background: white;
padding: 30px 30px 32px;
border: 1px solid #CCC;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;

}
#container h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#container p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #ccc;
padding-bottom:10px;
}
#container label{
display:block;
font-weight:bold;
text-align:right;
width: 25px;
float: left;
clear: both;
line-height: 26px;
}
#container .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
.input{
float:left;
font-size:12px;
padding:4px 2px;

width:200px;
margin:2px 0 20px 10px;

border: 1px solid #CCC;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
}
.button{
clear:both;
opacity:1;
filter:alpha(opacity=100); 

text-align: center;

font-size:11px;

color: #fff;
border-color: #A6A6A6;
height: 27px;
line-height: 2px;
background: #5F8835;
background: -moz-linear-gradient(top, #6B993B 0%, #5F8835 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6B993B), color-stop(100%, #5F8835));
background: -webkit-linear-gradient(top, #6B993B 0%, #5F8835 100%);
background: -o-linear-gradient(top, #6B993B 0%, #5F8835 100%);
background: -ms-linear-gradient(top, #6B993B 0%, #5F8835 100%);
background: linear-gradient(top, #6B993B 0%, #5F8835 100%);
border: 1px solid #3B6F00;
text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
cursor: pointer;
font-weight: bold;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
-webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3),0 2px 1px 0 rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3),0 2px 1px 0 rgba(0,0,0,0.1);
-o-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3),0 2px 1px 0 rgba(0,0,0,0.1);
box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3),0 2px 1px 0 rgba(0, 0, 0, 0.1);
-webkit-font-smoothing: antialiased;


}

.button:hover {
	opacity:0.8;
filter:alpha(opacity=80); 
}